@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue:hsl(246, 25%, 77%);
    --red:hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --accent:hsl(248, 32%, 49%);
}

html{
    font-size: 16px;
}

body{
    background: url("/images/bg-intro-mobile.png");
    background-color: var(--red);
    color: #fff;
}

.container{
    margin:5rem 1rem 3rem 1rem;
    text-align: center;
    line-height: 1.5;
}

.text h1{
    font-weight: 600;
    font-size: 2.2rem;
}

.text p{
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.form-div button:first-child{
    background-color: var(--accent);
    padding: 1.5rem 1rem;
    color: #fff;
    width: 80%;
    margin: 2.5rem auto 2rem auto;
    border-radius: 15px;
    outline: none;
    border:none;
    font-size: 1.1rem;
    letter-spacing: 1.25;
    line-height: 1.75;
   
}

.form-div button:first-child span{
    font-weight: 600;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
}

form input{
    padding: .75rem;
    border-radius: 10px;
    border: .5px solid var(--dark-blue);
}

form input::placeholder{
    color: var(--dark-blue);
    font-weight: 600;
}

form input:not(:last-child){
    margin-top: .75rem;
}

form button{
    background:var(--green);
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-top: 1.75rem;
    border: none;
    font-weight: 600;
}

form small{
    color: var(--grayish-blue);
    margin-top: 1.5rem;
    font-weight: 700;
}

form small span{
    color: var(--red);
}

.attribution { 
    font-size: 1rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}