@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue:hsl(246, 25%, 77%);
    --red:hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --accent:hsl(248, 32%, 49%);
}

html{
    font-size: 16px;
}

body{
    background: url("/images/bg-intro-mobile.png");
    background-color: var(--red);
    color: #fff;
}

.container{
    margin:5rem 1.5rem 3rem 1.5rem;
    text-align: center;
    line-height: 1.5;
}

.text h1{
    font-weight: 600;
    font-size: 2.2rem;
}

.text p{
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.form-div button.free-trial{
    background-color: var(--accent);
    padding: 1.5rem 1rem;
    color: #fff;
    width: 80%;
    margin: 2.5rem auto 2rem auto;
    border-radius: 15px;
    outline: none;
    border:none;
    font-size: 1.1rem;
    letter-spacing: 1.25;
    line-height: 1.75;
   
}

.form-div button.free-trial span{
    font-weight: 600;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
}

#form p.terms{
    color: var(--grayish-blue);
    margin-top: 1.5rem;
    font-weight: 700;
    font-size: .95rem;
}

#form p.terms span{
    color: var(--red);
}

.form-field{
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-field input{
    padding: 1.25rem 1rem;
    border-radius: 10px;
    border: .5px solid var(--dark-blue);
    font-size: .85em;
}

.form-field input:focus{
    border-width: 1px;
    outline: none;
    border: solid var(--accent);
}

.form-field input::placeholder{
    color: var(--dark-blue);
    font-weight: 600;
}

.form-field input:not(:last-child){
    margin-top: 1.5rem;
}

.form-field img{
    display: none;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
}

.form-field .example{
    position: absolute;
    color: var(--red);
    top: 2.5rem;
    left: .75rem;
    display: none;
}

.form-field.emailedExample .example{
    display: block;
}

.form-field small{
    color: var(--red);
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
}

.form-field.error input{
    border: 1px solid var(--red);
}

.form-field.error img{
    display: block;
}

.form-field #submit{
    background:var(--green);
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin-top: 1.75rem;
    border: none;
    width: 100%;
    font-weight: 600;
}

.form-field #submit:hover{
    cursor:pointer;
}

.attribution { 
    font-size: 1rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

@media screen and (min-width:800px){

    body{
        background-image: url("/images/bg-intro-desktop.png");
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        margin: 0 7.5rem;
    }

    .form-div, 
    .text{
        width: 50vw;
    }

    .text{
        max-width: 550px;
    }

    .form-div{
        padding:5rem 0;
    }

    .form-div button.free-trial{
        padding: 1.5rem 1rem;
        color: #fff;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    #form{
        width:80%;
        padding: 2.5rem 1.75rem;
    }

    #form .terms{
        text-align: center;
    }
}