@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue:hsl(246, 25%, 77%);
    --red:hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --accent:hsl(248, 32%, 49%);
}

html{
    font-size: 16px;
}

.attribution { 
    font-size: 1rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}